{% extends("layout.html") %}
{% block content %}
<h3>Stargate</h3>
<p>
    Although Stargate is developed by one of the most well known developers in the EVM ecosystem, it had somewhat of a rocky start and almost faded into the backgrounds. However, a series of events, planned and unplanned, happened which led to its current growth stage.
</p>
<p>
    The first event was that Stargate launched a Galxe Campaign which was hosted on Optimism's domain. This along with numerous collaborations announced along the way propelled Stargate's popularity for a few months before dying down. 
</p>
<p>
    The event that was truly impactful was Arbitrum's airdrop which led to a series of speculations by twitter users which claimed that LayerZero is planning an airdrop in the future. Naturally, airdrop hunters that don't want to miss out on a potential airdrop rushed to use LayerZero products, including Stargate. Whether this surge of users is healthy or not remains unknown.
</p>
<p>
    <strong>Stargate's massive TVL and its bridging mechanism also allowed whales and arbitrageurs to bridge large quantities of tokens</strong> without the risk of losing too much in slippage, besides being able to earn from arbitrages. This massively boosted the bridge's usage as it was found out that most of the volumes were done by this group of users.
</p>
<h3 class="mt-5">Squid Protocol</h3>
<p>
    Squid Protocol is a novel approach to improve the cross chain experience by providing a solution to cross chain swaps. Powered by Axelar, Squid Protocol allows users to bridge a token from a chain to another token in another chain. For example, users are able to swap ETH from the Ethereum mainnet to USDC in the Polygon mainnet.
</p>
<p>
    Although it is novel, reliance on DEXs to perform the swaps heavily impacts the bridge's swap fees. This combined with the fact that axlUSDC has low liquidity in most chains impaired the protocol's ability to truly shine and stand out in the market.
</p>
<h3 class="mt-5">Satellite</h3>
<p>
    Satellite is the de facto bridge from the EVM chains to the Cosmos. Despite this, its volume is a lot less than Stargate. This shows that the DeFi scene in Cosmos is in its infancy, and with most DeFi users living in the EVM chains, its novelty to bridge into the Cosmos system currently isn't in effect. Besides that, the collapse of Terra, which was Cosmos's shining DeFi Hub, took a toll on Satellite too.
</p>
<p>
    One of the biggest advantages of Satellite is the versatility that it offers. By wrapping a native token to a Axelar Wrapped token, a user is able to bridge to any chain that is supported by Axelar. This token is automatically redeemed 1:1 to the native token once it arrives back to its original chain.
</p>
<h3 class="mt-5">Axelar</h3>
<p>
    <strong>Illiquid wrapped tokens are Axelar's biggest obstacle to adoption</strong>. Since wrapped tokens are hardly used in most of the dApps, liquidity pools must be set up in DEXs to swap those wrapped tokens to the token accepted in that particular chain. For example, axlUSDC in Polygon must be swapped to Polygon's USDC before it can be used anywhere. With that said, large amounts of liquidity needed to be pooled by other users to allow the bridgers to swap the wrapped tokens back to the native tokens.
</p>
<p>
    At the current state, the <strong>issue of having low liquidity in most of the supported chains and the need to depend on DEXs are making cross chain transfers using Axelar unfavorable for users</strong>, especially whales. Looking at Stargate's stats, we know that whales drive the most value out of these bridges, and with whales out of the scene, the volume that can be achieved by Axelar is severely bottlenecked.
</p>
<h3 class="mt-5">Marketing Observations</h3>
<p>
    One of the most noticeable marketing successes were those Galxe Campaigns. These campaigns work by asking users to do certain tasks in order to obtain NFTs or Badges or Tokens of participation. By incentivizing users to use the protocols, even by giving them tokens that are useless otherwise, users are far more likely to try out the protocol. Satellite's having no noticeable up trends while both Stargate and Squid have it proves that these campaigns work.
</p>
<p>
    In comparison, tweets by large twitter accounts seldom have such an effect if there was no incentives behind it.
</p>
<p>
    <strong>The most efficient marketing was done through the combination of tweets by influencers and incentivizing user engagement in the protocol</strong>. Scratch that, even the hint of incentives (airdrop speculation which may or may not be true) may be good enough to drive usage. 
</p>
<p>
    The retainment of users proves to be a completely different issue though. For example, both Squid's and Stargate's campaigns successfully increased usage of their protocols, however, Squid's userbase shrunk back to its original state while Stargate's campaign successfully retained the new users for months to come. 
</p>
<div style="padding-bottom: 100px;"></div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(async function(){
        $('#pills-overview-tab').addClass('active');
    });
</script>
{% endblock %}