{% extends("layout.html") %}
{% block content %}
<h3>Summary of the Growth of Stargate</h3>
<p>
    Stargate, a bridge that focuses on stablecoins, recently gained popularity among the bridgers, where the protocol experienced a 4x increase in bridging volume in USD and a 19x increase in user counts from March 2023 to April 2023. In this analysis, we found out the paths that they have taken to reach this point and several reasons for its continued usage.
</p>
<p>
    Stargate didn't start out with a bang, where its market share in the bridging scene is tiny compared to the bigger bridges. Things didn't improve until they launched a Galxe Campaign along with Optimism on 21 September 2022. The Galxe Campaign successfully garnered some attention and Stargate's userbase continued to grow. This growth period continued on until early January 2023, after that its userbase began to shrink.
</p>

<div class="d-flex flex-column align-items-center my-3">
    <img src="{{ url_for('static', filename='images/stargate_galxe.png') }}" alt="Stargate Galxe Campaign" height="500" class="mb-2">
    <strong>Stargate Galxe Campaign</strong>
</div>
<p>
    The userbase continued to shrink until March 2023. In that month, Arbitrum's governance token was airdropped. Due to the amount that was airdropped, rumors regarding LayerZero's airdrop plan began to spread among the community. Stargate, being one of LayerZero's products, was rumored to be one of the key protocols to use to secure one's eligibility for the airdrop. Since then, Stargate had experienced explosive growth in both user count and bridge volume it's never seen before.
</p>
<p>
    Similar to other bridges, whales make up most of Stargate's bridge volume. In this analysis, we found out that these whales suffer minimal losses in the bridging process, where some even gained value after using the bridge. This is due to Stargate's implementation of liquidity pools in both the source and destination chains with minimal protocol fees (6bps as of writing).
</p>
<p>
    Stargate users are allowed to bridge from one stablecoin to another (for example, USDC to USDT), where it indirectly allowed arbitrages to happen. Sure enough, this ability to do arbitrages using Stargate's liquidity pools didn't go unnoticed, where arbitrageurs started making trades as soon as the opportunity arises. 
</p>
<p>
    These arbitrages on average makes the trader about 0.1% wealthier for each transaction. Thus, to meaningfully gain from these trades, one must bridge a huge amount of tokens across the chains, and of course, huge amounts of tokens were indeed bridged by the arbitrageurs, so much so that Stargate's top user is an arbitrageur.
</p>
<p>
    So what had we learned from studying Stargate?
    <ul>
        <li>Campaigns are essential to garner attention and increase the community's awareness about a protocol</li>
        <li>The lower the loss of value after bridging the better</li>
        <li>Arbitrages are important to drive up a bridge's volume</li>
    </ul>
</p>
<p>
    <strong>
        In conclusion, Stargate's users were gained through Galxe campaigns and by being a key part of a widespread rumor regarding LayerZero's airdrop, while its volume were sustained by arbitrageurs profiting off the Stargate's liquidity pools.
    </strong>
</p>
<h3 class="mt-5">Comparison between Stargate and Squid / Satellite</h3>
<table class="table table-striped text-center" style="max-width: 1080px; margin: auto; margin-top: 50px; font-size: 12px;">
    <thead>
        <tr>
            <th></th>
            <th>Stargate</th>
            <th>Squid</th>
            <th>Satellite</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Launched</td>
            <td>March 2022</td>
            <td>November 2022</td>
            <td>January 2022</td>
        </tr>
        <tr>
            <td>Bridge Method</td>
            <td>Liquidity Pools On Both Chains</td>
            <td>Axelar + DEXs</td>
            <td>Minting & Burning Wrapped Tokens</td>
        </tr>
        <tr>
            <td>Tokens Received</td>
            <td>Native Tokens</td>
            <td>User Chosen Tokens</td>
            <td>AXL Wrapped Tokens</td>
        </tr>
        <tr>
            <td>Total Volume</td>
            <td>$5.5B</td>
            <td>$13M</td>
            <td>$2.2B</td>
        </tr>
        <tr>
            <td>Current Daily Median Volume<br>(USD)</td>
            <td>$44M</td>
            <td>$135k</td>
            <td>$1.45M</td>
        </tr>
        <tr>
            <td>Current Daily Median Users</td>
            <td>60k</td>
            <td>102.5</td>
            <td>347</td>
        </tr>
        <tr>
            <td>Most Used Chain</td>
            <td>Ethereum</td>
            <td>Polygon</td>
            <td>Terra Classic</td>
        </tr>
        <tr>
            <td>Most Used Token</td>
            <td>USDC</td>
            <td>axlUSDC</td>
            <td>USDC</td>
        </tr>
        <tr>
            <td>Fees</td>
            <td>Swap Fee + Gas Fee</td>
            <td>Swap Fee + Gas Fee</td>
            <td>Gas Fee</td>
        </tr>
        <tr>
            <td>Arbitrage</td>
            <td>Yes</td>
            <td>Yes but unlikely*</td>
            <td>No</td>
        </tr>
        <tr>
            <td>Bridge Limit</td>
            <td>Unlimited**</td>
            <td>$100,000</td>
            <td>$750,000</td>
        </tr>
        <tr>
            <td>Ability to Lure Whales</td>
            <td>Yes</td>
            <td>No</td>
            <td>No***</td>
        </tr>
        <tr>
            <td>Volume Driven By</td>
            <td>Arbitrageurs + Airdrop Hunters</td>
            <td>Users Active in Multiple Chains</td>
            <td>Terra Users</td>
        </tr>
        <tr>
            <td>Chain Types Supported</td>
            <td>EVM</td>
            <td>EVM</td>
            <td>EVM + Cosmos</td>
        </tr>
    </tbody>
    <tfoot class="text-right pt-3" style="border: none; border-bottom: 1px solid inherit;">
        <tr>
            <td colspan="4" style="border: none;"></td>
        </tr>
        <tr>
            <td class="m-0 p-0" colspan="4" style="border: none;">* Low liquidity makes arbitraging difficult</td>
        </tr>
        <tr>
            <td class="m-0 p-0" colspan="4" style="border: none;">** High volumes will cause high slippage, much like a DEX</td>
        </tr>
        <tr>
            <td class="m-0 p-0" colspan="4" style="border: none;">*** Low liquidity to swap back to native tokens practically limits the max amount a whale is able to transfer</td>
        </tr>
    </tfoot>
</table>

<h3 class="mt-5">Axelar / Squid's Challenges</h3>
<p>
    By comparing Axelar / Squid to Stargate, we found several key challenges that might benefit Axelar / Squid once solved.
</p>
<p>
    First and foremost, the most glaring issue that Axelar faces is that Axelar has low liquidity for its tokens in all of the chains that it supports. While we learned that low losses increases usage, low liquidity in the chains vastly increases the cost of a bridge. Since Axelar users receives Axelar wrapped tokens after bridging, the only way that they can utilize these tokens is by swapping it back using a DEX. Low liquidity pools ensure that no user will bridge large volumes using Axelar. For example, bridging $100k worth of USDC to Arbitrum using Axelar can only be swapped back to $50k worth of usable USDC, which results in a 50% loss.
</p>

<div class="d-flex flex-column align-items-center my-3">
    <img src="{{ url_for('static', filename='images/USDC_Liquidity.png') }}" alt="USDC Liquidity" height="500" class="mb-2">
    <strong>axlUSDC Liquidity</strong>
    <img src="{{ url_for('static', filename='images/USDT_Liquidity.png') }}" alt="USDT Liquidity" height="500" class="mb-2 mt-5">
    <strong>axlUSDT Liquidity</strong>
</div>

<p>
    This issue of having low liquidity also brought about the bridge limitations, where Squid can only process about $100k for a single transaction while Axelar can at most process up to $750k for a single transaction. This limitation essentially blocked whales from participating in the protocol, where we know that they bridge over $1M worth of tokens per transaction on average.
</p>
<p>
    However, there are also steps taken by Squid that are in the right direction. For example, Squid's Galxe and Layer3 campaigns, although it ultimately failed to retain its users, were a massive success. During those event periods, Squid's user count was more than 10 times its usual value. With that said, Squid has to find a way to retain these newly gained users if not it will be all for naught.
</p>

<div style="padding-bottom: 100px;"></div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(async function(){
        $('#overview').addClass('active');
    });
</script>
{% endblock %}