{% extends("layout.html") %}
{% block content %}
<table class="table" style="margin: auto; max-width: 1080px; font-size: 16px;">
    <thead>
        <tr>
            <td>Protocol</td>
            <td>Field</td>
            <td>Query</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="29">Stargate</td>
            <td>Volume</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/5ca98cb1-ed7a-43eb-9b37-8f61dd8ee3fd" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td rowspan="6">Token Stats</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/cb8807b2-d514-46e7-ba97-8afe7e488355" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/b508a928-eb49-4307-abe3-1c856dc21cba" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/45cd1428-f6ef-4159-a2b3-e100f3db7beb" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/ab212eb2-3aea-4929-857e-00d2db4a36c8" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/f2700ac0-e91d-40ca-b55f-56e1ae5a2596" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/76bec6cc-9fda-4f3f-ab68-d4ed05388ad1" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td rowspan="1">Bucketed User Stats</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/0c0803f3-7bfc-4a4e-802a-73569687ea3d" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td rowspan="6">Liquidity Changes</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/611598fb-70a5-4bf6-aabf-a4b0077a2647" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/4410249a-e364-48ca-8df9-87bd7e593e13" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/df09ab03-ed21-4a19-a875-a9fd6dc32776" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/a599cd0b-497c-41c1-9f97-a4452dc08d27" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/44b9eee7-30e2-4b37-892c-0dd98b85bada" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/e3e5bc21-2bfb-4267-8914-38f64510dbef" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td rowspan="6">Bridge Initiator</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/d7376011-882a-4905-811d-007aa232ceb1" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/1e8544f4-50de-4b89-ae98-d3e49064179c" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/ec3263a5-5c9a-4fa8-9c14-74611e7e1f98" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/a49377ed-c877-4850-b77c-1daa6e626334" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/a54efdbf-d37a-4199-a32c-19e411bca99f" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/f9994302-3437-4823-bc0d-418706aca64c" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td rowspan="1">Top User Bridge Stats (Not Used)</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/1965d97f-5d9f-447d-b8ee-cf02a87b693a" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td rowspan="6">Top User Profits</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/d3250383-82f1-415f-9771-4051da89fdb1" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/f27a788d-811b-4646-88a5-1072d28023a4" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/0cf839d7-5d98-4477-b551-7e0fcea8095b" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/ea88760e-67e5-4660-8c34-6b0619772295" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/f1b8a2ef-a140-4e78-8d72-4e17d2b9bb3e" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/29c0b7a4-235d-40d8-af2e-2b0f972554e4" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td rowspan="1">Top User Bridge Stats By Date (Not Used)</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/8eb03dbb-5abc-4861-b164-79a0df17be7c" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td rowspan="1">Top User Trading Activities</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/bafd3be4-c1bd-485d-bf60-dbbe9ac41c99" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td rowspan="2">Squid</td>
            <td>Volume</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/8b11eb1e-94cc-46a2-8960-e070c5b94347" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>User Trading Activities</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/db0ee743-f379-4784-91ca-091cc0e1d535" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td rowspan="2">Axelar</td>
            <td>Volume</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/3e4cb76d-f7a8-4b42-b542-4d6a423ebff1" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>User Trading Activities</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/17586790-f836-468e-b4b4-e5cfbd8578ec" target="_blank">Link</a></td>
        </tr>
    </tbody>
</table>
<div style="padding-bottom: 100px;"></div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(async function(){
        $('#pills-sql-tab').addClass('active');
    });
</script>
{% endblock %}