{% extends("layout.html") %}
{% block content %}
<h3>Axelar's Main Issues</h3>
<p>
    <strong>Illiquid wrapped tokens are Axelar's biggest obstacle to adoption</strong>. Since wrapped tokens are hardly used in most of the dApps, the bridged axl wrapped tokens are always swapped back into the chain's native stablecoin. And to do that, users have to resort to using DEXs. With low liquidity in all the L2's, bridging large amounts of USDC through Axelar is simply not possible / illogical since the slippage will be too high. For example, bridgers will only be able to swap $100k worth of axlUSDC to ~$50k worth of USDC in Arbitrum, that's a 50% loss of funds. 
</p>
<div class="d-flex flex-column align-items-center my-3">
    <img src="{{ url_for('static', filename='images/USDC_Liquidity.png') }}" alt="USDC Liquidity" height="500" class="mb-2">
    <strong>axlUSDC Liquidity</strong>
    <img src="{{ url_for('static', filename='images/USDT_Liquidity.png') }}" alt="USDT Liquidity" height="500" class="mb-2 mt-5">
    <strong>axlUSDT Liquidity</strong>
</div>
<p>
    From the charts, we know that whales drive most of the volume for most of the bridges, although they are few in numbers. To put things into perspective, the combined volume of Stargate users that bridged over $10M worth of tokens is worth slightly less than the rest combined even though there are fewer than 100 of them. These whales bridge between $1M to an upwards of about $10M worth of assets in a single transaction on average. Combining these facts and the fact that Axelar is currently suffering from low liquidity across the chains, <strong>there currently isn't any way to accomodate these whales</strong>.
</p>
<p>
    The dependency on DEXs to swap back into the intended coin/token also hinders adoption. Most liquidity pools charge 0.3% as swap fee, in comparison, by having their own liquidity pools, Stargate was able to only charge 0.06% as bridge fee, which is 5 times lower than DEXs. So, for people who intend to bridge large sums, the obvious choice would be to use a bridge that would cause the least loss of value after bridging.
</p>
<p>
    In summary, Axelar's current issues are:
    <ul>
        <li>
            Low liquidity
            <ul>
                <li>Causes high slippage</li>
                <li>Makes the involvement of whales in the ecosystem almost impossible</li>
                <li>Lose out market share provided by the whales</li>
            </ul>
        </li>
        <li>
            Almost no adoption by other protocols
            <ul>
                <li>Adoption of axl wrapped tokens will nullify the effect of low liquidity since there will be no need to swap the wrapped tokens back to the native tokens</li>
            </ul>
        </li>
        <li>
            High loss of value after bridging (compared to Stargate) due to dependency on DEXs
            <ul>
                <li>Sways the bridgers to favor the ones with the lowest fees</li>
            </ul>
        </li>
    </ul>
</p>
<h3 class="mt-5">Marketing</h3>
<p>
    On the marketing side of things, one of the most noticeable events that successfully attracted new users. were those Galxe Campaigns. These campaigns work by asking users to do certain tasks in order to obtain NFTs or Badges or Tokens of participation. By incentivizing users to use the protocols, even by giving them tokens that are useless otherwise, users are far more likely to try out the protocol. Satellite's having no noticeable up trends while both Stargate and Squid have it proves that these campaigns do indeed make an impact.
</p>
<div class="d-flex flex-column align-items-center my-3">
    <img src="{{ url_for('static', filename='images/stargate_galxe.png') }}" alt="USDC Liquidity" height="500" class="mb-2">
    <strong>Stargate Galxe Campaign</strong>
    <img src="{{ url_for('static', filename='images/squid_galxe.png') }}" alt="USDT Liquidity" height="500" class="mb-2 mt-5">
    <strong>Squid Galxe Campaign</strong>
</div>
<p>
    In comparison, tweets / marketing campaigns by large twitter accounts seldom have such an effect if there was no incentives behind it.
</p>
<p>
    <strong>The most efficient marketing was done through the combination of tweets by reputable brands and incentivizing user engagement in the protocol</strong>. Scratch that, even the hint of incentives (airdrop speculation which may or may not be true) may be good enough to drive usage. 
</p>
<p>
    The retainment of users proves to be a completely different issue though. For example, both Squid's and Stargate's campaigns successfully increased usage of their protocols, however, Squid's userbase shrunk back to its original state while Stargate's campaign successfully retained the new users for months to come. 
</p>

<h3 class="mt-5">Protocol Summaries</h3>
<h4 class="mt-2">Stargate</h4>
<p>
    Although Stargate is developed by one of the most well known developers in the EVM ecosystem, it had somewhat of a rocky start and almost faded into the backgrounds. However, a series of events, planned and unplanned, happened which led to its current growth stage.
</p>
<p>
    The first event was that Stargate launched a Galxe Campaign which was hosted on Optimism's domain. This along with numerous collaborations announced along the way propelled Stargate's popularity for a few months before dying down. 
</p>
<p>
    The event that was truly impactful was Arbitrum's airdrop which led to a series of speculations by twitter users which claimed that LayerZero is planning an airdrop in the future. Naturally, airdrop hunters that don't want to miss out on a potential airdrop rushed to use LayerZero products, including Stargate. Whether this surge of users is healthy or not remains unknown.
</p>
<p>
    <strong>Stargate's massive TVL and its bridging mechanism also allowed whales and arbitrageurs to bridge large quantities of tokens</strong> without the risk of losing too much in slippage, besides being able to earn from arbitrages. This massively boosted the bridge's usage as it was found out that most of the volumes were done by this group of users.
</p>
<h4 class="mt-5">Squid Protocol</h4>
<p>
    Squid Protocol is a novel approach to improve the cross chain experience by providing a solution to cross chain swaps. Powered by Axelar, Squid Protocol allows users to bridge a token from a chain to another token in another chain. For example, users are able to swap ETH from the Ethereum mainnet to USDC in the Polygon mainnet.
</p>
<p>
    Although it is novel, reliance on DEXs to perform the swaps heavily impacts the bridge's swap fees. This combined with the fact that axlUSDC has low liquidity in most chains impaired the protocol's ability to truly shine and stand out in the market.
</p>
<h4 class="mt-5">Satellite</h4>
<p>
    Satellite is the de facto bridge from the EVM chains to the Cosmos. Despite this, its volume is a lot less than Stargate. This shows that the DeFi scene in Cosmos is in its infancy, and with most DeFi users living in the EVM chains, its novelty to bridge into the Cosmos system currently isn't in effect. Besides that, the collapse of Terra, which was Cosmos's shining DeFi Hub, took a toll on Satellite too.
</p>
<p>
    One of the biggest advantages of Satellite is the versatility that it offers. By wrapping a native token to a Axelar Wrapped token, a user is able to bridge to any chain that is supported by Axelar. This token is automatically redeemed 1:1 to the native token once it arrives back to its original chain.
</p>
<h3 class="mt-5">Comparison</h3>
<table class="table table-striped text-center" style="max-width: 1080px; margin: auto; margin-top: 50px; font-size: 12px;">
    <thead>
        <tr>
            <th></th>
            <th>Stargate</th>
            <th>Squid</th>
            <th>Satellite</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Launched</td>
            <td>March 2022</td>
            <td>November 2022</td>
            <td>January 2022</td>
        </tr>
        <tr>
            <td>Bridge Method</td>
            <td>Liquidity Pools On Both Chains</td>
            <td>Axelar + DEXs</td>
            <td>Minting & Burning Wrapped Tokens</td>
        </tr>
        <tr>
            <td>Tokens Received</td>
            <td>Native Tokens</td>
            <td>User Chosen Tokens</td>
            <td>AXL Wrapped Tokens</td>
        </tr>
        <tr>
            <td>Total Volume</td>
            <td>$5.5B</td>
            <td>$13M</td>
            <td>$2.2B</td>
        </tr>
        <tr>
            <td>Current Daily Median Volume<br>(USD)</td>
            <td>$44M</td>
            <td>$135k</td>
            <td>$1.45M</td>
        </tr>
        <tr>
            <td>Current Daily Median Users</td>
            <td>60k</td>
            <td>102.5</td>
            <td>347</td>
        </tr>
        <tr>
            <td>Most Used Chain</td>
            <td>Ethereum</td>
            <td>Polygon</td>
            <td>Terra Classic</td>
        </tr>
        <tr>
            <td>Most Used Token</td>
            <td>USDC</td>
            <td>axlUSDC</td>
            <td>USDC</td>
        </tr>
        <tr>
            <td>Fees</td>
            <td>Swap Fee + Gas Fee</td>
            <td>Swap Fee + Gas Fee</td>
            <td>Gas Fee</td>
        </tr>
        <tr>
            <td>Arbitrage</td>
            <td>Yes</td>
            <td>Yes but unlikely*</td>
            <td>No</td>
        </tr>
        <tr>
            <td>Bridge Limit</td>
            <td>Unlimited**</td>
            <td>$100,000</td>
            <td>$750,000</td>
        </tr>
        <tr>
            <td>Ability to Lure Whales</td>
            <td>Yes</td>
            <td>No</td>
            <td>No***</td>
        </tr>
        <tr>
            <td>Volume Driven By</td>
            <td>Arbitrageurs + Airdrop Hunters</td>
            <td>Users Active in Multiple Chains</td>
            <td>Terra Users</td>
        </tr>
        <tr>
            <td>Chain Types Supported</td>
            <td>EVM</td>
            <td>EVM</td>
            <td>EVM + Cosmos</td>
        </tr>
    </tbody>
    <tfoot class="text-right pt-3" style="border: none; border-bottom: 1px solid inherit;">
        <tr>
            <td colspan="4" style="border: none;"></td>
        </tr>
        <tr>
            <td class="m-0 p-0" colspan="4" style="border: none;">* Low liquidity makes arbitraging difficult</td>
        </tr>
        <tr>
            <td class="m-0 p-0" colspan="4" style="border: none;">** High volumes will cause high slippage, much like a DEX</td>
        </tr>
        <tr>
            <td class="m-0 p-0" colspan="4" style="border: none;">*** Low liquidity to swap back to native tokens practically limits the max amount a whale is able to transfer</td>
        </tr>
    </tfoot>
</table>

<div style="padding-bottom: 100px;"></div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(async function(){
        $('#overview').addClass('active');
    });
</script>
{% endblock %}