{% extends("layout.html") %}
{% block content %}
<table class="table" style="margin: auto; max-width: 1080px; font-size: 16px;">
    <thead>
        <tr>
            <td>Protocol</td>
            <td>Field</td>
            <td>Query</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="29">Stargate</td>
            <td>Volume</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/5ca98cb1-ed7a-43eb-9b37-8f61dd8ee3fd" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td rowspan="6">Token Stats</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/cb8807b2-d514-46e7-ba97-8afe7e488355" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/b508a928-eb49-4307-abe3-1c856dc21cba" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/45cd1428-f6ef-4159-a2b3-e100f3db7beb" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/ab212eb2-3aea-4929-857e-00d2db4a36c8" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/f2700ac0-e91d-40ca-b55f-56e1ae5a2596" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/76bec6cc-9fda-4f3f-ab68-d4ed05388ad1" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td rowspan="1">Bucketed User Stats</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/0c0803f3-7bfc-4a4e-802a-73569687ea3d" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td rowspan="6">Liquidity Changes</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/611598fb-70a5-4bf6-aabf-a4b0077a2647" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/4410249a-e364-48ca-8df9-87bd7e593e13" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/df09ab03-ed21-4a19-a875-a9fd6dc32776" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/a599cd0b-497c-41c1-9f97-a4452dc08d27" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/44b9eee7-30e2-4b37-892c-0dd98b85bada" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/e3e5bc21-2bfb-4267-8914-38f64510dbef" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td rowspan="6">Bridge Initiator</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/d7376011-882a-4905-811d-007aa232ceb1" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/1e8544f4-50de-4b89-ae98-d3e49064179c" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/ec3263a5-5c9a-4fa8-9c14-74611e7e1f98" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/a49377ed-c877-4850-b77c-1daa6e626334" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/a54efdbf-d37a-4199-a32c-19e411bca99f" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/f9994302-3437-4823-bc0d-418706aca64c" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td rowspan="1">Top User Bridge Stats (Not Used)</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/1965d97f-5d9f-447d-b8ee-cf02a87b693a" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td rowspan="6">Top User Profits</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/d3250383-82f1-415f-9771-4051da89fdb1" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/f27a788d-811b-4646-88a5-1072d28023a4" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/0cf839d7-5d98-4477-b551-7e0fcea8095b" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/ea88760e-67e5-4660-8c34-6b0619772295" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/f1b8a2ef-a140-4e78-8d72-4e17d2b9bb3e" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/29c0b7a4-235d-40d8-af2e-2b0f972554e4" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td rowspan="1">Top User Bridge Stats By Date (Not Used)</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/8eb03dbb-5abc-4861-b164-79a0df17be7c" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td rowspan="1">Top User Trading Activities</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/bafd3be4-c1bd-485d-bf60-dbbe9ac41c99" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td rowspan="4">Squid</td>
            <td>Volume</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/8b11eb1e-94cc-46a2-8960-e070c5b94347" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>User Trading Activities</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/db0ee743-f379-4784-91ca-091cc0e1d535" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Bucketed User Stats</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/57554cb0-9435-45dd-97ec-ae6175eac1d9" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Top Users</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/2f984730-775e-485b-af03-3a5a003d6d49" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td rowspan="4">Satellite</td>
            <td>Volume</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/3e4cb76d-f7a8-4b42-b542-4d6a423ebff1" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>User Trading Activities</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/17586790-f836-468e-b4b4-e5cfbd8578ec" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Bucketed User Stats</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/dd8fc222-b50d-4722-8034-c7bf175363fc" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Top Users</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/a5d557b4-de48-4276-b071-3212f5133795" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td rowspan="39">Top 100k Users</td>
            <td>Connext Detailed Bridge Volume</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/79862659-255f-4f23-b519-41ccbe56a7eb" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Connext Detailed Bridge Volume (BSC - Timeout)</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/df0c98d6-7dca-43c6-af74-92046f4aadd6" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Connext Swap Stats</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/de2b7164-5c43-4991-a5ae-3bfa9aad7e54" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Connext User Tx Count</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/b406411a-bda1-48ab-bb5a-a2f2e4579465" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Hop Detailed Bridge Volume</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/c84d491c-dbf6-4e5d-bd3c-8b9e8a01e5c1" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Hop Swap Stats</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/d6cb1ed3-d8f8-40fa-8bce-7ed69267a09e" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Hop User Tx Count</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/1cf98e62-9072-40b0-8672-cf0f9ee1f6f6" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Across Detailed Bridge Volume</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/c9dde71d-c05a-4b8d-9fdd-70a87f413728" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Across Swap Stats</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/e5a596f9-13ef-422a-99e3-2c12999efc09" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Across User Tx Count</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/1d2c4303-f349-4a8e-bc2e-871842ac4202" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Wormhole Detailed Bridge Volume</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/5b6ee540-369e-4668-aac6-237b7f93a494" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Wormhole Detailed Bridge Volume (BSC - Timeout)</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/25304903-593f-4aae-b42d-8662c6e91e4f" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Wormhole Swap Stats</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/748249df-05c5-4d05-9e51-38a6646ed0d3" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Wormhole User Tx Count</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/9e24c7e5-56de-4113-bee5-e79c7cc41b1b" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Celer Detailed Bridge Volume</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/03ec571a-84f2-43ba-b4d6-3b8df6073fdd" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Celer Swap Stats</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/39fdab6b-fe90-40e0-8906-e0e3a691dcee" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Celer User Tx Count</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/b7a18798-eedc-4e64-9df2-1267a82491c4" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Synapse Detailed Bridge Volume</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/e980ea54-ce81-4680-9832-eb3cd41ce124" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Synapse Swap Stats</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/3751368d-f440-45f8-85ec-c079208f17c3" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Synapse User Tx Count</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/503a9eee-4c5d-4db6-a4a9-902b4019a38b" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Multichain Detailed Bridge Volume</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/e10fdf6c-0ca9-40e9-8efd-de5be96472be" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Multichain Detailed Bridge Volume (BSC - Token)</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/550c8ea6-7b85-43ac-a4cd-217e157b25a5" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Multichain Detailed Bridge Volume (BSC - BNB)</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/b7130a9b-c695-4ba6-a19b-467398743e83" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Multichain Swap Stats</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/5fe7d9dd-a19b-4667-a71c-1b87f1b1f47e" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Multichain User Tx Count</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/09b0ae00-4d99-42e5-8bde-65f4f483831a" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Satellite Detailed Bridge Volume</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/f27e3228-7b3b-4b12-afde-e64da77671ef" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Satellite Swap Stats</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/d57146c9-f95b-4edb-9ab7-2442da30190d" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Satellite User Tx Count</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/a747fe6d-5a54-43f2-96a8-607b9d443ca2" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Squid Detailed Bridge Volume</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/d5f249e0-9713-4beb-a89e-c217f34bf59b" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Squid Swap Stats</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/08c8cf9b-4910-45f8-ba63-53a33a7ef296" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Squid User Tx Count</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/ab757d89-6b2a-4755-bf87-63c09635f74c" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Stargate Detailed Bridge Volume</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/9273ce5d-9e81-4abc-a39d-0dc5c28c8815" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Stargate Swap Stats</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/cba86aba-6a2b-4b27-8e99-f4b3cc20b7af" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Stargate User Tx Count (Avalanche)</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/56e9656d-1436-4ff5-9fe1-9ef5b94262ff" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Stargate User Tx Count (BSC)</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/2997beb5-038d-4cac-931e-20416a5dc1de" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Stargate User Tx Count (Ethereum)</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/d5aa15a2-a50e-46ed-83bd-136cc3024069" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Stargate User Tx Count (Arbitrum)</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/bb637446-c664-4a87-ac43-f8e79e9ec079" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Stargate User Tx Count (Polygon)</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/1faffe19-8307-4afa-beeb-d965dc092a1f" target="_blank">Link</a></td>
        </tr>
        <tr>
            <td>Stargate User Tx Count (Optimism)</td>
            <td><a href="https://flipsidecrypto.xyz/edit/queries/451bf5c5-8892-48a5-938a-c3c2079a8dd0" target="_blank">Link</a></td>
        </tr>
    </tbody>
</table>
<div style="padding-bottom: 100px;"></div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(async function(){
        $('#pills-sql-tab').addClass('active');
    });
</script>
{% endblock %}